{% set page_title = 'Sobre nostros' %}
{% set body_class = 'bg-dark' %}
{% set navbar_dark = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}

<div class="shape justify-content-end mt-n160">
    <svg class="mt-n160" data-rellax-speed="-2" width="415" height="641" viewBox="0 0 415 641" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate3d(0px, 4px, 0px);">
        <circle cx="320.5" cy="320.5" r="320.5" fill="#202020"></circle>
    </svg>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 pb-160 text-white">
            <div class="row mt-160 pt-3">
                <div class="col-12 col-lg-9 col-xl-8 show-on-scroll" data-show-duration="800">
                    <h1 class="display-4 text-white"> Line-X Hispania.</h1>
                </div>
            </div>
            <div class="row mt-100">
                <div class="col-12 col-lg me-lg-60 me-xl-100 show-on-scroll" data-show-delay="100" data-show-duration="500" data-show-distance="10">
                    <hr class="mt-0 border-white">
                    <p class="lead">Con más de 20 años de experiencia, contamos con un profundo conocimiento en la industria, lo que nos permite llevar a cabo cualquier tipo de proyecto con excelencia.</p>
                </div>

                <div class="col-12 col-lg-6 show-on-scroll" data-show-delay="200" data-show-duration="500" data-show-distance="10">
                    <p class="mb-30">Con una visión innovadora, transformamos ideas en proyectos únicos y de alta calidad, adaptándonos a las necesidades específicas de cada cliente.</p>
                    <p class="mt-n4">Nuestra experiencia y pasión por la excelencia nos permiten desarrollar soluciones creativas en cada proyecto, desde la conceptualización hasta la ejecución final, garantizando resultados que superan las expectativas.</p>
                    <a href="contact-" class="btn btn-with-ball btn-white">Contáctanos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="swiper swiper-dark overflow-hidden" data-swiper-slides="auto" data-swiper-gap="70" data-swiper-grabCursor="true" data-swiper-breakpoints="620:1">
    <div class="container">
        <div class="swiper-container overflow-initial">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="500" src="assets/images/about/3ds.jpeg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="330" src="assets/images/about/maquina3.jpeg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="500" src="assets/images/about/fresco.jpeg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="330" src="assets/images/about/bambu.jpeg" alt="">
                </div>
                <div class="swiper-slide w-sm-auto">
                    <img class="mw-100 w-xs-100" width="500" src="assets/images/about/maquina2.jpeg" alt="">
                </div>
            </div>
        </div>

        <div class="swiper-scrollbar"></div>
    </div>
</div>


<div class="container pt-160 mt-n6">
    <div class="row justify-content-center mb-n7">
        <div class="col-lg-10 text-white">
            <div class="row gv-1 justify-content-between">
                <div class="col-12 col-lg-5 show-on-scroll" data-show-delay="50" data-show-duration="600" data-show-distance="10">
                    <h3 class="text-white">Nuestros proyectos son reconocidos por cada una de las marcas con las que colaboramos </h3>
                </div>
                <div class="col-12 col-lg-6 show-on-scroll" data-show-delay="150" data-show-duration="600" data-show-distance="10">
                    <p>Desde una idea nacida en una tarde inspiradora hasta su materialización tras meses de dedicación, somos los encargados de convertir ese proyecto que imaginas en una realidad tangible y fiel a tu visión. </p>
                </div>
            </div>

            <div class="mt-160">
                <hr class="mt-n6 border-white">
                <div class="row gv-2 justify-content-around text-center">
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="50" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">+250</div>
                            <div class="number-box-subtitle">Proyectos</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="150" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">18</div>
                            <div class="number-box-subtitle">Años</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="250" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">120</div>
                            <div class="number-box-subtitle">Feedbacks</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-auto show-on-scroll" data-show-delay="350" data-show-duration="500" data-show-distance="20">
                        <div class="number-box">
                            <div class="number-box-title h1 text-white">+40</div>
                            <div class="number-box-subtitle">Socios</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="gallery-item gallery-item-sm mt-160 mb-60 show-on-scroll" href="#" data-fancybox data-cursor-style="cursor-circle" data-cursor-text="play" data-show-delay="100" data-show-duration="800">
        <img src="assets/images/portfolio/lxh-1920-1080.jpeg" alt="">
        <span class="d-flex d-md-none btn btn-md btn-circle btn-white">play</span>
    </a>

    <div class="pt-30 mt-n10">
        <div class="row align-items-center justify-content-between text-center gh-1 gv-3">
            {% macro brand_col(name="", delay="") %}
            <div class="col-6 col-sm-4 col-lg-auto show-on-scroll" data-show-delay="{{ delay }}" data-show-duration="400" data-show-distance="20">
                <a href="#" class="text-grey-dark">
                    {{ brands[name] | safe }}
                </a>
            </div>
            {% endmacro %}
            {{ brand_col('adidas', '50') }}
            {{ brand_col('chhc', '100') }}
            {{ brand_col('buschgardens', '150') }}
            {{ brand_col('enigma', '200') }}
            {{ brand_col('iconic', '250') }}
            {{ brand_col('katmandu', '300') }}
        </div>
    </div>
</div>

{% endblock %}
