{% set page_title = 'Interpretacion arquitectónica' %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set footer = 'default' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}

{% block content %}

<div class="pt-160 pb-130">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="mt-10 mb-30 pb-3 show-on-scroll" data-show-duration="500" data-show-distance="10">Interpretacion arquitectónica temático y conceptual</h1>
                <p class="mb-n8 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">Analizamos el concepto arquitectónico y narrativo de cada proyecto para transformarlo en elementos tematizados coherentes, funcionales y fabricables. Traducimos ideas, referencias y diseños en soluciones reales, manteniendo la identidad visual del espacio y adaptándola a criterios técnicos, normativos y de uso intensivo.</p>
            </div>
        </div>
    </div>
</div>


<div class="gallery-item-sm show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="300" data-cursor-style="cursor-text" data-cursor-text="Escena de cueva de katmandu 2021">
    <img src="assets/images/service/interpretacion_arquitectonica.png" alt="">
</div>

<div class="py-160">
    <div class="container">
        <div class="row gh-5 gv-3 justify-content-center">
            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="50">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-10 col-xl-8">
                        <h2 class="h3 mb-12">Interpretamos proyectos arquitectónicos y conceptuales para su aplicación en espacios temáticos de alto tránsito.</h2>
                    </div>
                    <div class="col-lg-auto d-none d-lg-block"><hr class="mt-25 mb-0 width-70px"></div>
                </div>
            </div>

            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
                <h4 class="mb-25">Desarrollo del concepto temático</h4>
                <p class="mb-n10">Interpretación del lenguaje arquitectónico y creativo del proyecto para definir formas, volúmenes, texturas y acabados coherentes con la temática y la experiencia buscada.</p>
            </div>
            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="250">
                <h4 class="md-25">Adaptación técnica y constructiva</h4>
                <p class="mb-n10">Transformamos el concepto en soluciones viables, seleccionando materiales y sistemas adecuados para garantizar seguridad, durabilidad y cumplimiento normativo.</p>
            </div>
            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="350">
                <h4 class="mb-25">Integración en el entorno</h4>
                <p class="mb-0">Diseño de elementos que se integran de forma natural en el espacio arquitectónico y urbano, respetando el contexto y reforzando la experiencia del usuario.</p>
            </div>
            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="450">
                <h4 class="md-25">Coherencia estética y funcional</h4>
                <p class="mb-0">Equilibrio entre diseño, resistencia y mantenimiento, asegurando que cada elemento cumpla su función sin perder impacto visual a lo largo del tiempo.</p>
            </div>
            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="550">
                <a href="contacto.html" class="btn btn-dark btn-with-ball mt-n3">Contáctanos</a>
            </div>
        </div>
    </div>
</div>


{% macro portfolio_grid(name="", href="#", delay="") %}
<div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-delay="{{ delay }}" data-show-distance="20" data-show-duration="500">
    {{ card_project_overlay_global(name=name, image_size='md', title_size='h4', classes='card-image-md card-hover-appearance text-white text-center' + classes, bg="rgba(14, 14, 14, 0.7)") }}
</div>
{% endmacro %}
<div class="row justify-content-center">
    {{ portfolio_grid('RoyalCaribean', 'potfolio-single-1.html', '50') }}
    {{ portfolio_grid('bicilab', 'potfolio-single-2.html', '150') }}
    {{ portfolio_grid('moon', 'potfolio-single-3.html', '250') }}
</div>


<div class="pt-160 shape-parent overflow-hidden">
    <div class="shape mt-n160 justify-content-end">
        <svg data-rellax-speed="-1" class="mt-n160" width="498" height="641" viewBox="0 0 498 641" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate3d(0px, 35px, 0px);">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5"></circle>
        </svg>
    </div>

    <div class="container">
        

        <div class="page-navigation mt-160">
            <a href="tematizacion_parques.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}Anterior<span class="d-none d-sm-inline"> servicio</span></a>
            <a href="servicios.html" class="btn btn-light btn-circle btn-xl">Todos</a>
            <a href="impresion_3d.html" class="btn btn-clean">Siguiente<span class="d-none d-sm-inline"> servicio</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
        </div>
    </div>
</div>

{% endblock %}
