{% set page_title = 'Proyectos' %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set footer = 'default' %}
{% set footer_dark = true %}


{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container isotope mt-130">
    <ul class="nav justify-content-center isotope-options mb-60 show-on-scroll" data-show-duration="500">
        <li class="nav-item active show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
            <a href="#" data-filter="all" class="nav-link"><div class="nav-link-name">Todos</div></a>
        </li>
        <li class="nav-item show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
            <a href="#" data-filter="parques" class="nav-link"><div class="nav-link-name">Parques temáticos</div></a>
        </li>
        <li class="nav-item show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="200">
            <a href="#" data-filter="figuras" class="nav-link"><div class="nav-link-name">Figuras</div></a>
        </li>
        <li class="nav-item show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="300">
            <a href="#" data-filter="temas" class="nav-link"><div class="nav-link-name">Tematización</div></a>
        </li>
        <li class="nav-item show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="200">
            <a href="#" data-filter="minigolf" class="nav-link"><div class="nav-link-name">Minigolf</div></a>
        </li>
    </ul>

    <div class="pt-30 show-on-scroll" data-show-duration="800">
        {% macro portfolio_grid(name="", filter="", classes="") %}
        <div class="col-12 col-sm-6 isotope-item{% if class %} {{ class }}{% endif %}" data-filters="{{ filter }}" data-cursor-style="cursor-circle" data-cursor-text="ver">
            {{ card_project_overlay_global(name=name, image_size='md', title_size='h3', classes='card-hover-zoom card-image-lg card-bg-show text-white' + classes, style='with-logo', bg='rgba(14, 14, 14, .2)') }}
        </div>
        {% endmacro %}
        <div class="row gh-1 gv-1 isotope-grid">
            {{ portfolio_grid('spaiberostar', 'temas') }}
            {{ portfolio_grid('katlantis', 'parques') }}
            {{ portfolio_grid('RoyalCaribean', 'figuras') }}
            {{ portfolio_grid('bicilab', 'temas') }}
            {{ portfolio_grid('nessie', 'figuras') }}
            {{ portfolio_grid('ferrariland', 'temas') }}
            {{ portfolio_grid('ballena', 'figuras') }}
            {{ portfolio_grid('garzas', 'figuras') }}
            {{ portfolio_grid('katmandu', 'parques') }}
            {{ portfolio_grid('capitel', 'parques') }}
            {{ portfolio_grid('moon', 'temas') }}
            {{ portfolio_grid('row', 'temas') }}
            {{ portfolio_grid('enigma', 'temas') }}
            {{ portfolio_grid('eurocamping', 'minigolf') }}
            {{ portfolio_grid('desierto', 'temas') }}
            {{ portfolio_grid('studiocreations', 'temas') }}
            {{ portfolio_grid('katmanduInverso', 'parques') }}
            {{ portfolio_grid('MinigolfPirata', 'minigolf') }}



            <!--{{ portfolio_grid('breakfast', 'parques') }}-->
        </div>
    </div>
    <div class="text-center mt-100 mb-160">
    </div>

    <!-- ESTO POR SI SE QUIERE AGREGAR UN BOTON ( NO TIENE LA LOGICA )<div class="text-center mt-100 mb-160">
        <a href="#" class="btn btn-circle btn-light btn-lg">subir</a>
    </div>-->
</div>
{% endblock %}
