{% set page_title = 'Iberostar SPA' %}
{% set navbar_fixed = true %}
{% set navbar_dark = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2'%}
{% set navbar_mobile_dark = true %}
{% set footer = 'default' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% macro image_portfolio(src="", classes="", gallery="") %}
<a href="{{ src[1] }}" class="gallery-item{{ ' ' + classes if classes }}" data-fancybox="{{ gallery }}" data-animation-effect="fade">
    <img src="{{ src[0] }}" alt="">
</a>
{% endmacro %}

{% macro image_portfolio_init(name="", classes="", gallery="gallery-1") %}
    {{ image_portfolio(single_portfolio_images.style_5_12[name], classes=classes, gallery=gallery) }}
{% endmacro %}


{% block content %}
<div class="py-160 min-vh-100 d-flex align-items-center position-relative">
    <div class="background">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="{{ single_portfolio_images.style_5_12.banner }}" class="jarallax-img" alt="">
        </div>
        <div class="background-color" style="background-color: rgb(14, 14, 14, .2);"></div>
    </div>

    <div class="container text-center">
        <h1 class="text-white mb-0 show-on-scroll" data-show-duration="700" data-show-distance="10">Iberostar SPA</h1>
    </div>
</div>

<div class="pt-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end mt-n160">
        <svg class="mt-n160" data-rellax-speed="-1" width="504" height="641" viewBox="0 0 504 641" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5"/>
        </svg>
    </div>

    <div class="container">
        <div class="row gv-3 justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                <h2 class="h3 mb-30 pb-10 mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10">Sobre el proyecto</h2>
                <p class="mb-0 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">Proyecto de renovación integral de la piscina interior climatizada, enfocado en elevar la experiencia del cliente y adecuar el espacio a la categoría del hotel. El concepto transforma el SPA en una cueva contemporánea semienterrada, donde el agua, la tierra y la vegetación crean una atmósfera envolvente y relajante.

Se incorpora una pared de marés con circuito de chorros, soluciones acústicas para mejorar el confort sonoro y mobiliario sostenible en madera de teca con textiles naturales, logrando un entorno sofisticado, sensorial y plenamente alineado con el bienesta</p>
            </div>
            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="300">
                <hr class="mt-0 mb-30">
                <div class="row justify-content-around gh-1">
                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8">Fecha:</span> Junio 21, 2018
                    </div>
                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8">categoría:</span> Arquitectura
                    </div>
                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8">Cliente:</span> Iberostar
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="swiper swiper-full-horizontal mt-130 mb-n6" data-swiper-slides="auto" data-swiper-gap="30" data-swiper-speed="600" data-swiper-loop="true" data-swiper-center="true" data-swiper-breakpoints="1200:1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% macro slide_project(name="") %}
                <div class="swiper-slide">
                    {{ image_portfolio_init(name, 'gallery-item-md') }}
                </div>
                {% endmacro %}
                {{ slide_project('02') }}
                {{ slide_project('03') }}
                {{ slide_project('04') }}
                {{ slide_project('06') }}

            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container mt-160">
    <div class="page-navigation">
        <a href="proyectos.html" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}anterior<span class="d-none d-sm-inline"> proyecto</span></a>
        <a href="proyectos.html" class="btn btn-light btn-circle btn-m">Todos</a>
        <a href="Katlantis.html" class="btn btn-clean">siguiente<span class="d-none d-sm-inline"> proyecto</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
{% endblock %}