{% set page_title = 'Iberostar' %}
{% set page_title_i18n = 'proyectos.spa_iberostar.title' %}
{% set navbar_fixed = true %}
{% set navbar_dark = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2'%}
{% set navbar_mobile_dark = true %}
{% set footer = 'default' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% macro image_portfolio(src="", classes="", gallery="") %}
<a href="{{ src[1] }}" class="gallery-item{{ ' ' + classes if classes }}" data-fancybox="{{ gallery }}"
    data-animation-effect="fade">
    <img src="{{ src[0] }}" alt="">
</a>
{% endmacro %}

{% macro image_portfolio_init(name="", classes="", gallery="gallery-1") %}
{{ image_portfolio(single_portfolio_images.style_5_12[name], classes=classes, gallery=gallery) }}
{% endmacro %}

{% macro slide_project(name="", gallery="gallery-1") %}
<div class="swiper-slide">
    {{ image_portfolio_init(name, 'gallery-item-md', gallery) }}
</div>
{% endmacro %}


{% block content %}
<div class="py-160 min-vh-100 d-flex align-items-center position-relative">
    <div class="background">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="{{ single_portfolio_images.style_5_12.banner }}" class="jarallax-img" alt="">
        </div>
        <div class="background-color" style="background-color: rgb(14, 14, 14, .2);"></div>
    </div>

    <div class="container text-center">
        <h1 class="text-white mb-0 show-on-scroll" data-show-duration="700" data-show-distance="10"
            data-i18n="proyectos.spa_iberostar.title_spa">Iberostar</h1>
    </div>
</div>

<div class="pt-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end mt-n160">
        <svg class="mt-n160" data-rellax-speed="-1" width="504" height="641" viewBox="0 0 504 641" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5" />
        </svg>
    </div>

    <div class="container">
        <div class="row gv-3 justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                <h2 class="h3 mb-30 pb-10 mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10"
                    data-i18n="generales.project_about">Sobre el proyecto</h2>

                <p class="mb-0 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150"
                    data-i18n="proyectos.spa_iberostar.description">Proyecto de renovación integral de la piscina
                    interior climatizada, enfocado en elevar la experiencia del cliente y adecuar el espacio a la
                    categoría del hotel. El concepto transforma el SPA en una cueva contemporánea semienterrada, donde
                    el agua, la tierra y la vegetación crean una atmósfera envolvente y relajante.

                    Se incorpora una pared de marés con circuito de chorros, soluciones acústicas para mejorar el
                    confort sonoro y mobiliario sostenible en madera de teca con textiles naturales, logrando un entorno
                    sofisticado, sensorial y plenamente alineado con el bienestar.</p>
            </div>

            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10"
                data-show-delay="300">
                <hr class="mt-0 mb-30">

                <div class="row justify-content-around gh-1">
                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_date">Fecha:</span><span
                            data-i18n="proyectos.spa_iberostar.date">Junio 21, 2018</span>
                    </div>

                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_category">categoría:</span><span
                            data-i18n="proyectos.spa_iberostar.category">Arquitectura</span>
                    </div>

                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_client">Cliente:</span>Iberostar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper swiper-full-horizontal mt-130 mb-n6" data-swiper-slides="auto" data-swiper-gap="30"
        data-swiper-speed="600" data-swiper-loop="false" data-swiper-center="true" data-swiper-breakpoints="1200:1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ slide_project('02', 'iberostar-spa') }}
                {{ slide_project('03', 'iberostar-spa') }}
                {{ slide_project('04', 'iberostar-spa') }}
                {{ slide_project('06', 'iberostar-spa') }}
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<hr class="mt-160 mb-0"
    style="border: 0; border-top: 2px solid #646464; width: 80%; margin-left: auto; margin-right: auto; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);">

<div class="py-160 min-vh-100 mt-100 d-flex align-items-center position-relative">
    <div class="background">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="{{ single_portfolio_images.style_5_12.banner3 }}" class="jarallax-img" alt="">
        </div>
        <div class="background-color" style="background-color: rgb(14, 14, 14, .2);"></div>
    </div>

    <div class="container text-center">
        <h1 class="text-white mb-0 show-on-scroll" data-show-duration="700" data-show-distance="10"
            data-i18n="proyectos.garzas.title">Garzas Iberostar</h1>
    </div>
</div>

<div class="pt-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end mt-n160">
        <svg class="mt-n160" data-rellax-speed="-1" width="504" height="641" viewBox="0 0 504 641" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5" />
        </svg>
    </div>

    <div class="container">
        <div class="row gv-3 justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                <h2 class="h3 mb-30 pb-10 mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10"
                    data-i18n="generales.project_about">Sobre el proyecto</h2>

                <p class="mb-0 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150"
                    data-i18n="proyectos.garzas.description">En este proyecto, hemos creado piezas de gran envergadura,
                    como la imponente ballena ubicada en las escaleras y las majestuosas garzas que adornan el lobby.
                    Además, desarrollamos una tematización detallada del interior, logrando capturar la esencia única de
                    este maravilloso hotel paradisíaco. Cada elemento ha sido diseñado con precisión y cuidado,
                    aportando una experiencia visual impresionante que complementa la atmósfera de lujo y relajación del
                    lugar.</p>
            </div>

            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10"
                data-show-delay="300">
                <hr class="mt-0 mb-30">

                <div class="row justify-content-around gh-1">
                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_date">Fecha:</span><span
                            data-i18n="proyectos.garzas.date">Junio 10, 2008</span>
                    </div>

                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_category">categoría:</span><span
                            data-i18n="proyectos.garzas.category">Figuras</span>
                    </div>

                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_client">Cliente:</span><span
                            data-i18n="proyectos.garzas.client">Iberostar Albufera</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper swiper-full-horizontal mt-130 mb-n6" data-swiper-slides="auto" data-swiper-gap="30"
        data-swiper-speed="600" data-swiper-loop="false" data-swiper-center="true" data-swiper-breakpoints="1200:1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ slide_project('11', 'iberostar-garzas') }}
                {{ slide_project('12', 'iberostar-garzas') }}
                {{ slide_project('13', 'iberostar-garzas') }}
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<hr class="mt-160 mb-0"
    style="border: 0; border-top: 2px solid #646464; width: 80%; margin-left: auto; margin-right: auto; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);">

<div class="py-160 min-vh-100 mt-100 d-flex align-items-center position-relative">
    <div class="background">
        <div class="background-image jarallax" data-jarallax data-speed="0.8">
            <img src="{{ single_portfolio_images.style_5_12.banner2 }}" class="jarallax-img" alt="">
        </div>
        <div class="background-color" style="background-color: rgb(14, 14, 14, .2);"></div>
    </div>

    <div class="container text-center">
        <h1 class="text-white mb-0 show-on-scroll" data-show-duration="700" data-show-distance="10"
            data-i18n="proyectos.ballena.title">Ballena Iberostar</h1>
    </div>
</div>

<div class="pt-160 shape-parent overflow-hidden">
    <div class="shape justify-content-end mt-n160">
        <svg class="mt-n160" data-rellax-speed="-1" width="504" height="641" viewBox="0 0 504 641" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5" />
        </svg>
    </div>

    <div class="container">
        <div class="row gv-3 justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                <h2 class="h3 mb-30 pb-10 mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10"
                    data-i18n="generales.project_about">Sobre el proyecto</h2>

                <p class="mb-0 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150"
                    data-i18n="proyectos.ballena.description">Un impresionante proyecto de diseño realizado por LINE-X
                    Hispania, finalizado en junio de 2020. La pieza central de la recepción es una majestuosa figura de
                    ballena situada sobre la escalera principal, creando un impacto visual único. Equipada con un
                    sistema de iluminación interna, la ballena aporta una atmósfera envolvente y sofisticada, combinando
                    arte y funcionalidad para ofrecer una experiencia visual memorable a los visitantes.</p>
            </div>

            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10"
                data-show-delay="300">
                <hr class="mt-0 mb-30">

                <div class="row justify-content-around gh-1">
                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_date">Fecha:</span><span
                            data-i18n="proyectos.ballena.date">Junio, 2020</span>
                    </div>

                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_category">categoría:</span><span
                            data-i18n="proyectos.ballena.category">Figuras</span>
                    </div>

                    <div class="col-auto mb-8">
                        <span class="fw-medium me-8" data-i18n="generales.project_client">Cliente:</span><span
                            data-i18n="proyectos.ballena.client">Iberostar Albufera</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper swiper-full-horizontal mt-130 mb-n6" data-swiper-slides="auto" data-swiper-gap="30"
        data-swiper-speed="600" data-swiper-loop="false" data-swiper-center="true" data-swiper-breakpoints="1200:1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ slide_project('07', 'iberostar-ballena') }}
                {{ slide_project('08', 'iberostar-ballena') }}
                {{ slide_project('09', 'iberostar-ballena') }}
                {{ slide_project('10', 'iberostar-ballena') }}
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container mt-160">
    <div class="page-navigation">
        <a href="proyectos.html" class="btn btn-clean">
            {{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}
            <span data-i18n="generales.project_prev">anterior</span>
            <span class="d-none d-sm-inline" data-i18n="generales.project_label"> proyecto</span>
        </a>

        <a href="proyectos.html" class="btn btn-light btn-circle btn-m" data-i18n="generales.project_all">Todos</a>

        <a href="Katlantis.html" class="btn btn-clean">
            <span data-i18n="generales.project_next">siguiente</span>
            <span class="d-none d-sm-inline" data-i18n="generales.project_label"> proyecto</span>
            {{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}
        </a>
    </div>
</div>
{% endblock %}