{% set page_title = 'Tematización de parques y espacios' %}
{% set navbar_fixed = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set navbar_mobile_dark = true %}
{% set footer = 'default' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}

<div class="pt-160 pb-130">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="mt-10 mb-30 pb-3 show-on-scroll" data-show-duration="500" data-show-distance="10">Tematización de parques y espacios</h1>
                <p class="mb-n8 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">En LXH transformamos espacios en experiencias. Aplicamos recubrimientos técnicos de alta resistencia que permiten crear entornos temáticos seguros, duraderos y visualmente impactantes, incluso en las condiciones más exigentes.

Nuestros sistemas están diseñados para soportar uso intensivo, climatología extrema, humedad, impactos y vandalismo, manteniendo su acabado y color durante años. Porque la fantasía está muy bien, pero si se descascarilla al mes… deja de ser magia.</p>
            </div>
        </div>
    </div>
</div>


<div class="gallery-item-sm show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="300" data-cursor-style="cursor-text" data-cursor-text="ver">
    <img src="assets/images/service/parque_tematico.png" alt="">
</div>

<div class="py-160">
    <div class="container">
        <div class="row gh-5 gv-3 justify-content-center">
            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="50">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-10 col-xl-8">
                        <h2 class="h3 mb-12">Creamos y tematizamos espacios pensados para durar...</h2>
                    </div>
                    <div class="col-lg-auto d-none d-lg-block"><hr class="mt-25 mb-0 width-70px"></div>
                </div>
            </div>

            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
                <h4 class="mb-25">Parques infantiles y áreas de juego</h4>
                <p class="mb-n10">Fabricación de elementos de juego y estructuras tematizadas, junto con suelos continuos antideslizantes y amortiguadores. Creamos formas orgánicas como rocas, troncos o figuras decorativas, con acabados en colores vivos y personalizables, resistentes al desgaste y a la radiación UV.</p>
            </div>
            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="250">
                <h4 class="md-25">Parques temáticos y de atracciones</h4>
                <p class="mb-n10">Fabricación y revestimiento de escenografías, decorados y estructuras tematizadas. Protección integral de superficies expuestas a impactos, agua y fricción mediante sistemas impermeables y de fácil mantenimiento, preparados para uso intensivo.</p>
            </div>
            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="350">
                <h4 class="mb-25">Espacios de ocio y entretenimiento</h4>
                <p class="mb-0">Desarrollo de elementos personalizados para centros comerciales, zonas recreativas y áreas familiares. Soluciones específicas para parques acuáticos, zonas splash, museos interactivos, escape rooms y experiencias inmersivas, combinando estética, seguridad y resistencia.</p>
            </div>
            <div class="col-12 col-lg-5 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="450">
                <h4 class="md-25">Entornos urbanos tematizados</h4>
                <p class="mb-0">Fabricación y acabado de mobiliario urbano, elementos decorativos y zonas recreativas en plazas y espacios públicos. Integración estética con el entorno mediante soluciones decorativas y antivandálicas que priorizan la durabilidad.</p>
            </div>
            <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="550">
                <a href="contacto.html" class="btn btn-dark btn-with-ball mt-n3">Contáctanos</a>
            </div>
        </div>
    </div>
</div>


{% macro portfolio_grid(name="", href="#", delay="") %}
<div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-delay="{{ delay }}" data-show-distance="20" data-show-duration="500">
    {{ card_project_overlay_global(name=name, image_size='md', title_size='h4', classes='card-image-md card-hover-appearance text-white text-center' + classes, bg="rgba(14, 14, 14, 0.7)") }}
</div>
{% endmacro %}
<div class="row justify-content-center">
    {{ portfolio_grid('katmandu', 'potfolio-single-1.html', '50') }}
    {{ portfolio_grid('katlantis', 'potfolio-single-2.html', '150') }}
    {{ portfolio_grid('capitel', 'potfolio-single-3.html', '250') }}
</div>


<div class="pt-160 shape-parent overflow-hidden">
    <div class="shape mt-n160 justify-content-end">
        <svg data-rellax-speed="-1" class="mt-n160" width="498" height="641" viewBox="0 0 498 641" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate3d(0px, 35px, 0px);">
            <circle cx="320.5" cy="320.5" r="320.5" fill="#F5F5F5"></circle>
        </svg>
    </div>

    <div class="container">
        <div class="row gh-1 gv-3 align-items-center">
            <div class="col-lg-1 d-none d-lg-block"></div>

            <div class="col-12 col-lg-5 show-on-scroll" data-show-delay="250" data-show-distance="20" data-show-duration="500" data-show-origin="left">
                <img class="w-100" src="assets/images/blog/parque_tematico.png" alt="">
            </div>

            <div class="col-lg-1 d-none d-lg-block"></div>

            <div class="col-12 col-lg-4 ms-lg-n30 show-on-scroll" data-show-delay="50" data-show-distance="20" data-show-duration="500" data-show-origin="right">
                <p class="subtitle mb-25">¿Como trabajamos?</p>
                <h3 class="mt-n2 mb-60">Hemos trabajado con multiples marcas</h3>

                <div class="row align-items-center gh-1 d-inline-flex mt-n10">
                    <div class="col-auto">
                        <a href="https://www.youtube.com/watch?v=AT6oSIDbGkw" data-fancybox="" class="btn btn-dark btn-circle btn-md">
                            <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0L12 7.5L0 15V0Z" fill="currentColor"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="https://www.youtube.com/watch?v=AT6oSIDbGkw" data-fancybox="" class="btn-link btn-dark text-decoration-none">Mirar video</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-navigation mt-160">
            <a href="#" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}Anterior<span class="d-none d-sm-inline"> servicio</span></a>
            <a href="servicios.html" class="btn btn-light btn-circle btn-xl">Todos los servicios</a>
            <a href="interpratacion_arquitectonica.html" class="btn btn-clean">Siguiente<span class="d-none d-sm-inline"> servicio</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
        </div>
    </div>
</div>

{% endblock %}
